@font-face {
  font-family: 'Graffiti1CTT';
  src: url('/src/assets/fonts/Graffiti1CTT.ttf') format('truetype');
}

.regis {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px); 
  background-image: url('https://s3-alpha-sig.figma.com/img/6b2c/c67b/1b17c75864b56e63a09c349e51601756?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jSySiXSS8pjBe4rtaNtViAaA1nLJqfv8qv7yq8VbrgucruM3zNluY-Tm23tdbTrzrw5aw2gtIDTHVE9lQ8tr5HHeaZBUsta9JKiVOqQZJpwXwK4vt6-UxUPcXufdA7EvDv12IA8Oi2lcjcpaCKlykugNcelLNgL0DbsBHoi~h6v7ul~wzUw2YGTyjKoIUPl31SYNwcjrFD4jHpAWdh4-d~~Ep03mGipMu4D~li67IzuQgkEFN6LFn~OSQ~~Q1VoMXMouAiRGj8bsC~nCdpGJvsoYcN1VTryzXl7bBjthZkLzlIapLMCrj~gUgA1xphBg2HvwuuIN51RVG08tLtwwVg__');
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
}

.regis-box {
  width: 660px;
  height: 450px;
  background: #424B59;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.regis-title {
  font-family: 'Graffiti1CTT', sans-serif;
  font-size: 40px;
  color: #FFF;
  width: 100%; /* Ширина на всю ширину regis-box */
  height: 65px;
  line-height: 65px; /* Для вертикального центрирования текста */
  background-color: #303E4E;
  border-radius: 6px 6px 0 0; /* Скругление только верхних углов */
  text-align: center;
  margin: 0; /* Убираем внешний отступ */
}

.regis-box p {
  color: #fff;
  font-family: 'Graffiti1CTT', sans-serif;
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
  margin: 20px; /* Добавляем немного пространства вокруг абзацев */
}

.regis-box input {
  width: calc(100% - 40px); /* Учет padding с обеих сторон */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Увеличиваем размер шрифта для лучшей читаемости */
}

.regis-box .button {
  display: inline-block;
  width: calc(100% - 40px); /* Учет padding с обеих сторон */
  padding: 10px 0;
  background-color: #10e03d;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px; /* Добавляем отступ снизу */
}

.regis-box .button.disabled {
  background-color: #ff0e0e;
  pointer-events: none;
  cursor: default;
}

.upper-right-corner,
.lower-left-corner {
  position: absolute;
  z-index: 1000;
  width: 200px;
}

.upper-right-corner {
  bottom: -50px;
  left: 10px;
}

.lower-left-corner {
  bottom: 10px;
  left: 220px;
}
