@font-face {
  font-family: 'Graffiti1CTT';
  src: url('/src/assets/fonts/Graffiti1CTT.ttf') format('truetype');
}


.authorization-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px); /* Эффект размытия для заднего фона */
  
}
.authorization-container{
  background-image:url('https://s3-alpha-sig.figma.com/img/6b2c/c67b/1b17c75864b56e63a09c349e51601756?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jSySiXSS8pjBe4rtaNtViAaA1nLJqfv8qv7yq8VbrgucruM3zNluY-Tm23tdbTrzrw5aw2gtIDTHVE9lQ8tr5HHeaZBUsta9JKiVOqQZJpwXwK4vt6-UxUPcXufdA7EvDv12IA8Oi2lcjcpaCKlykugNcelLNgL0DbsBHoi~h6v7ul~wzUw2YGTyjKoIUPl31SYNwcjrFD4jHpAWdh4-d~~Ep03mGipMu4D~li67IzuQgkEFN6LFn~OSQ~~Q1VoMXMouAiRGj8bsC~nCdpGJvsoYcN1VTryzXl7bBjthZkLzlIapLMCrj~gUgA1xphBg2HvwuuIN51RVG08tLtwwVg__'); /* Полупрозрачный фон */
  background-position: center center; /* Центрирование изображения */
  background-repeat: no-repeat; /* Не повторять изображение */
  background-attachment: fixed; /* Фиксирует фоновое изображение */
  background-size: cover; /* Растягивает изображение, чтобы оно покрывало весь элемент */
  height: 100vh; /* Высота элемента равна 100% видимой части окна браузера */
  width: 100vw; /* Ширина элемента равна 100% видимой части окна браузера */
}

.authorization-box {
  width: 660px;
  height: 450px;
  background: #333; /* Цвет фона */
  border-radius: 6px; /* Скругление углов */
  box-shadow: 0 4px 10px #00000080; /* Тень для элемента */
  background: #424B59;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.authorization-title {
  background-color: #303E4E;
  width: 660px;
  height: 65px;
  font-family: 'Graffiti1CTT', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 6px;

}

.authorization-box p {
  color: #fff; /* Цвет текста */
  font-family: 'Graffiti1CTT', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 80px;

}

.auth-icon {
 
  border-radius: 50%; /* Круглая форма иконки */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; /* Размер шрифта иконки */
  width: 93px;
  height: 93px;
  top: 257px;
  left: 274px;

}

.upper-right-corner {
  position: fixed;
  bottom: -50px;
  left: 10px;
  z-index: 1000;
  width: 200px;
}

.lower-left-corner {
  position: fixed;
  bottom: 10px;
  left: 220px;
  z-index: 1000;
  width: 200px;
}